@media only screen and (min-width: 32.5em) {
    .nav {
        display: flex;
        justify-content: center;
    }
    nav li:first-child {
        display: none;
    }
    nav li {
        display: block;
    }
    
}