header {
    background-color:rgb(190, 85, 14);
    color: white;
    padding: 7px;
    display: flex;
    align-content: center;
    justify-content: center;
}
#logo {
    width: 70px;
    height: 48px;
}

#tagline {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
h1 {
    font-family: 'Francois One', sans-serif;
    letter-spacing: 1px;
    font-size: 25px;
    margin: 0;
}
body {
    margin: 0 auto;
}
button {
    background: none;
    border: none;
    color: white;
    

}
nav {
    background-color: rgb(92, 91, 91);
}
nav .nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
/*nav li {
    float: left;
}*/
.nav li:first-child {
    display: block;
}
.nav li {
    display: none;
}
.responsive li{
    display: block;
}
.nav li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.5em 2em 0.5em 2em ;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.nav li a:hover {
    background-color: rgb(184, 182, 182);
    color: black;
}
main {
    background-color: rgb(233, 231, 231);
    padding: 1em
}
.placeHolder {
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    margin: 5px;
    background-color: white;
    border-radius: 5px;
}
footer {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;;
    text-align: center;
    background-color:rgb(190, 85, 14);
    color: white;
    padding: 0.5em;
}
footer a {
    color: white;
}             
