@media only screen and (min-width: 32.5em) {
    .navigation {
        display: flex;
        justify-content: center;
    }
    .navigation li:first-child {
        display: none;
    }
    .navigation li {
        display: block;
    }
    h1 {
        font-size: 26px;
    }
    #tagline {
        font-size: 16px;
        margin-top: 2px;
    }
    #logo {
        width: 150px;
        height: auto;
    }
 /*---------- Home Page ----------*/
    div.towns {
        display: block;
    }
    div.towns div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-evenly;
        padding: 10px;
    }
    div.towns div:nth-child(odd){
        flex-direction: row-reverse;
    }
    div.towns div section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    div.towns div img {
        margin: 0;
        max-width: 50%;
    }
    /*contact area*/
    #contactMap {
        display: block;
    }
}